.page {
    font-family: 300 11px/1.4 -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    height: 100vh;
    padding-top: 80px;
    padding-left: 180px;
    padding-right: 40px;

    
}

@media (max-width: 600px) {
    .page {
        padding-left: 40px;
    }
}

