$dark-mainText: rgba(216, 213, 213, 0.893);
$dark-secondaryText: #787692;
$dark-bg-color: #33314e;
$dark-secondarybg-color: #3d3b57;
$dark-accent: #ffd700;
$dark-hover: rgba(128, 128, 128, 0.3);

$light-mainText: black;
$light-secondaryText: #787692;
$light-bg-color: white;
$light-secondarybg-color: #f6f6f6;
$light-accent: #ffd700; 
$light-hover: rgba(128, 128, 128, 0.3);

.dark {
    &.page {
        background-color: $dark-bg-color;
        color: $dark-mainText;

        .themeToggle {
            background: $dark-accent;
            color: $dark-secondaryText;
        }

        input, textarea {
            background-color: $dark-secondarybg-color;
            color: $dark-mainText;
        }

        button {
            border-color: $dark-accent;
            color: $dark-accent;
        }
    }
    &.sidebar {
        background-color: $dark-secondarybg-color;
        color: $dark-secondaryText;

        nav, ul, p {
            background-color: $dark-secondarybg-color;
            color: $dark-mainText;
            
            a {
                color: $dark-secondaryText;

                &.active {
                    svg {
                        color: $dark-accent;
                    }
                }
            }
        }

        ul {
            a:hover {
                color: $dark-accent;
            }
        }

        a::after {
            color: $dark-mainText;
        }

        button {
            &:hover {
                svg {
                    color: $dark-accent;
                }
            }
        }
    }
    @media (max-width: 600px) {
        nav {
            a {
                &:hover {
                    background-color: $dark-hover;
                }
            }
        }
    }
}

.light {
    &.page {
        background-color: $light-bg-color;
        color: $light-mainText;

        .themeToggle {
            background: $light-accent;
            color: $light-secondaryText;
        }
    }
    &.sidebar {
        background-color: $light-secondarybg-color;
        color: $light-secondaryText;

        nav, ul, p {
            background-color: $light-secondarybg-color;
            color: $light-mainText;
            
            a {
                color: $light-secondaryText;

                &.active {
                    svg {
                        color: $light-accent;
                    }
                }
            }
        }

        ul {
            a:hover {
                color: $light-accent;
            }
        }

        a::after {
            color: $light-mainText;
        }

        button {
            &:hover {
                svg {
                    color: $light-accent;
                }
            }
        }
    }

    @media (max-width: 600px) {
        nav {
            a {
                &:hover {
                    background-color: $light-hover;
                }
            }
        }
    }
}