.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    height: 100%;

    padding: 40px;
    
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.top {
    display: flex;
    align-items: center;
    gap: 80px;

    > * {
        flex: 1 1 auto;
    }

    .personalPicture {
        background-image: url("./personalPicture.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1050px) {
    .top {
        flex-direction: column;
        gap: 20px;
        font-size: 0.7rem;
    }
}

