.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    max-width: 870px;

    text-align: center;
}

.top {
    display: flex;
    align-items: center;
    gap: 80px;

    > * {
        flex: 1 1 auto;
    }

    .personalPicture {
        background-image: url("./personalPicture.jpg");
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1050px) {
    .home {
        gap: 60px;
    }
    .top {
        flex-direction: column;
        gap: 20px;
        font-size: 0.7rem;
    }
}

