.sidebar {
    height: 100%;
    width: 120px;
    position: fixed;
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    position: relative;

    a {
        font-size: 20px;
        transition: all 0.3s ease-out;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            color: black;

            svg {
                transition: all 0.3s ease-out;
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &::after {
            margin-top: 4px;
            width: 60px;
            text-align: center;
            margin-left: -35px;
            position: absolute;
            opacity: 0;
            transition: all 0.3s ease-out;
            letter-spacing: 2px;
            font-size: 12px;
        }
        
        &.home-link::after {
            content: 'HOME';
        }
        &.works-link::after {
            content: 'WORKS';
        }
        &.posts-link::after {
            content: 'POSTS';
        }
        &.contact-link::after {
            content: 'CONTACT';
        }
        &.active {
            svg {
                color: #ffd700;
            }
        }
    }

}

ul {
    display: flex;
    gap: 20px;

    li {
        list-style: none;

        a {
            transition: all 0.3s ease;
            color: #787692;
        }

        a:hover {
            color: #ffd700;
            transform: scale(1.1);
        }
    }
}

button {
    display: none;
    background-color: transparent;
    border: none;
    transition: 0.3s all ease;

    &:hover {
        transform: scale(1.1);
        
        svg {
            color: #ffd700;
        }       
    }
}

@media (max-width: 600px) {
    .sidebar {
        height: auto;
        width: 100%;
    
        flex-direction: row;
    }

    nav {
        display: none;
        position: absolute;
        right: 12px;
        top: 55px;
        gap: 15px;
        width: 160px;
        border-radius: 6px 6px 0px 0px;
        padding: 4px;

        a {
            position: relative;
            padding: 6px;
            border-radius: 6px;
            font-size: 16px;

            &::after {
                opacity: 1;
                bottom: auto;
                left: 40px;
                top: 11px;

                margin-top: 0px;
                width: auto;
                margin-left: 0px;
                opacity: 1;

                font-size: 9px;
            }    

            &:hover {
                transform: none;
                color: black;
                background-color: grey;
    
                svg {
                    transition: all 0.3s ease-out;
                    opacity: 1;
                }
    
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    
    ul {
        position: absolute;
        right: 12px;
        top: 240px;
        gap: 15px;
        width: 160px;
        border-radius: 0px 0px 6px 6px;
        padding: 4px;
        transition: 0.3s all ease;
        justify-content: space-evenly;
    }

    button {
        display: block;
    }

    .show {
        display: flex;
    }
    
    .hide {
        display: none;
    }
}